@model List<Entities.Concrete.Blog>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main" class="site-main">
    <div id="main-content" class="single-page-content">
        <div id="primary" class="content-area">

            <div class="page-title">
                <h1>Blog</h1>

            </div>

            <div id="content" class="page-content site-content single-post" role="main">

                <div class="row">
                    <div class=" col-xs-12 col-sm-12 ">

                        <div class="blog-masonry three-columns clearfix">
                            @foreach (var item in Model)
                            {
                                <!-- Blog Post -->
                                <div class="item" >
                                    <div class="blog-card"  >
                                        <div class="media-block">
                                            <div class="category">
                                                <a href="#" title="View all posts in WordPress">@item.BlogCategory.Title</a>
                                            </div>
                                            <a href="BlogDetails/@item.BlogId">
                                                <img  src="@item.Image" alt="@item.Title" title="" />
                                                <div class="mask"></div>
                                            </a>
                                        </div>
                                        <div class="post-info">
                                            <div class="post-date">@item.CreatedDate.ToString("dd.MM.yyyy").Replace(".", "/")</div>
                                            <a href="BlogDetails/@item.BlogId">
                                                <h4 class="blog-item-title">@item.Title</h4>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- End of Blog Post  -->
                            }
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>