@model BlogMVC.Models.BlogWithImage
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />

@using (Html.BeginForm("Add", "Blog", FormMethod.Post, new { @class = "m-t", area = "Admin", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(m => m.BlogId)
    @Html.HiddenFor(m => m.Image)
    <div class="ibox-content ">
        <div class="row">
            <div class="col-9">
                <h2>Add New Blog</h2>
            </div>
            <div style="text-align:right" class="col-3">
                <label style="margin-right:20px">Activity</label>
                @Html.CheckBoxFor(m => m.IsActive, new { @class = "js-switch" })
            </div>
        </div>
    </div>
    <br />
    <div class="ibox-content">
        <div class="modal-body"> 
            <div class="row">
                <div class="form-group col-3">
                    <label class=" col-form-label">Title</label>
                    @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                </div>
                <div class="form-group col-3">
                    <label class="font-normal">Category</label>
                    @Html.DropDownListFor(m => m.BlogCategoryId, (List<SelectListItem>)ViewBag.blogCategories, new { @class = "form-control" })
                </div>
                <div class="col-3">
                    <div class="form-group" id="data_1">
                        <label class="font-normal">Simple data input format</label>
                        <div class="input-group date">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input type="text" class="form-control" name="CreatedDate" value=@Model.CreatedDate.ToString("dd/MM/yyyy")>
                        </div>
                    </div>
                </div>
                <div class="form-group col-3 ">
                    <label class="font-normal">Sort</label>
                    @Html.TextBoxFor(x => x.Sort, new { @class = "form-control", @type = "number" })
                </div>
            </div>
            <div class="form-group">
                <label class="font-normal">Explanation Tr</label>
                @Html.TextAreaFor(m => m.Content, new { @class = "summernote" })
            </div>
            <div class="form-group">
                <label class="font-normal">KeyWords</label>
                <input class="tagsinput form-control" name="KeyWords" type="text" value=@Model.KeyWords />
            </div>
            <div class="form-group">
                <label class="font-normal">Image</label>
                <input class="form-control" type="file" name="ImageFile" />
            </div>
            @if (!string.IsNullOrEmpty(Model.Image))
            {
                <img width="100" height="100" class="img-thumbnail" src="@Model.Image" alt="Alternate Text" />
            }
            <div style="text-align:center">
                <button type="submit" class="btn btn-success" style="width:120px">Save</button>
            </div>
        </div>
        @ViewData["Message"]
    </div>
}
<script src="~/flatlab/js/jquery-3.1.1.min.js"></script>
<script src="~/flatlab/js/plugins/switchery/switchery.js"></script>
<script>
    $(document).ready(function () {

        $('.summernote').summernote(
            {
                height: 250
            });
        $('.tagsinput').tagsinput({
            tagClass: 'label label-primary'
        });
        var elem = document.querySelector('.js-switch');
        var switchery = new Switchery(elem, { color: '#1AB394' });
        var mem = $('#data_1 .input-group.date').datepicker({
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: true,
            autoclose: true
        });
    })
    $(document).keypress(function (e) {
        if (e.which == 13) {
            return false;
        }
    });
</script>
